attrs==21.2.0
blabel==0.1.4
brother-ql==0.9.4
cairocffi==1.2.0
CairoSVG==2.5.2
cffi==1.14.5
click==8.0.1
cssselect2==0.4.1
defusedxml==0.7.1
future==0.18.2
html5lib==1.1
Jinja2==3.0.1
MarkupSafe==2.0.1
packbits==0.6
pdf2image==1.15.1
Pillow==8.2.0
pycparser==2.20
Pyphen==0.10.0
pyStrich==0.8
python-barcode==0.13.1
pyusb==1.2.0
qrcode==6.1
six==1.16.0
tinycss2==1.1.0
WeasyPrint==52.5
webencodings==0.5.1
