@page {
	width: 62mm;
	height: 20mm;
}

img {
	height: 20mm;
	display: inline-block;
	vertical-align: middle;
	image-rendering: pixelated;
}

.label {
	margin-top: -0.65mm;
	vertical-align: top;
	display: inline-block;
}

.name {
	font-family: Source Code Pro;
	font-weight: bold;
	font-size: 15px;
	line-height: 1;
	width: 40.6mm;
}

.description {
	padding-top: 1mm;
	font-family: Source Code Pro;
	font-size: 11px;
	line-height: 0.9;
	width: 40.6mm;
}

.footprint {
	font-family: Source Code Pro;
	font-size: 7px;
	line-height: 0.9;
}

.id {
	margin-top: -0.1mm;
	margin-left: -1.1mm;
	padding: 0;
	padding-left: 1mm;
	font-family: Source Code Pro;
	font-size: 7px;
	position: absolute;
	bottom: 0mm;
}
